<div class="card">
  <h1 class="card_title"><%= task.title %></h1>
  <div class="card_detail">
    <%= image_tag 'default-avatar.png'%>
    <div>
      <p>hide</p>
      <p>2020/08/31</p>
    </div>
  </div>
  <div class="card_detail_actions">
    <div class="dropdown">
      <%= image_tag 'actions.svg', class: 'dropbtn' %>
      <div class="dropdown-content mini">
        <p>編集</p>
        <p>削除</p>
      </div>
    </div>
  </div>
  <div class="task_content">
    <%#= task.content %>
  </div>
</div>