div {
  background: #F2F2F2;
  // width: 414px;
  // height: 921px;
  .field {
    background: #F2F2F2;
    // width: 183px;
    // height: 36px;
    // left: 26px;
    // top: 92px;
  }
  .actions {
    background: #f8bd1c;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}
